body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

header {
  
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  padding: 0 2rem;
  
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  display: none;
}

.onglets {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 550px;
}

.onglets li a {
  color: #fff;
  text-decoration: none;
}

.BT-1 {
  border: 0;
  background: pink;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

.BT-1.BT-2 {
  background: transparent;
  border: 2px solid pink;
  color: #fff;
}

.lg{
  width: 100px;
}

.card {
  background-color: bisque;
  height: 700px;
  padding: 4%;
  display: flex;
  justify-content: space-between;
}

.order1 {

  font-size: 5em;
}

.order4 {
  font-size: 30px;
}

.order3 {
  font-size: 3rem;
  margin-bottom: 3rem;
  margin-left: 50px;
}




.order2 img {
  width: 250px;

}

.ind1 {
  position: absolute;
  z-index: 1;
  padding-top: 0%;
  padding-bottom: 20%;
  right: 10%;
  bottom: 3%;
}

.ind2 {
  position: absolute;
  z-index: 2;
  right: 15%;
  bottom: 30%;
  
}

.ind3 {
  position: absolute;
  z-index: 3;
  
  padding-bottom: 0%;
  bottom: 25%;
  margin-left: 10%;
  right: 8%;
}

.card .order1 .button {
  background-color: orange;
  font-size: 2rem;
  padding: 20px;
  width: 300px;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.card .order1 .button1 {
  padding: 20px;
  width: 300px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: rem;
}

.section-feactured {
  padding: 4.8rem 0 3.2rem 0;
}

.container {
  margin-left: 70px;
  margin-right: 70px;
  padding: 3%;
}

.heading-feactured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #888;
}

.order5 {
  display: flex;
  height: 2.4rem;
  justify-content: space-around;
}

.order6 {
  color: orange;
  padding-top: 70px;
  margin-left: 70px;
}

.order7 {
  font-size: 3rem;
  margin-left: 70px;
}

.order8 {
  font-size: 60px;
  color: rgb(100, 94, 94);
}

.order9 {
  font-size: 30px;
  margin-top: 0%;
}

.order10 {
  
  display: flex;
  justify-content: space-between;
  padding: 0%;
  margin-left: 200px;
  margin-right: 200px;
}

.section {
  padding-left: 10%;
  padding-right: 30%;
  margin-top: 50px;
}


.section-1 {
  padding-left: 10%;
  padding-right: 30%;
  margin-top: 40px;
}

.section1 {
  font-size: 20px;
}

.section2 {
  padding-left: 30%;
  padding-right: 10%;
}

.card1 {
  color: orange;
  display: flex;
  justify-content: center;
}

.card3 {
  display: flex;
  flex-direction: column;
}

.card4 {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 90px;
}

.card5 {
  margin-left: 50px;
  padding: 0.1em;
  background-color: rgb(238, 248, 244);
}

.card6 {
  margin-right: 0%;
  margin-left: 10%;
  padding: 0.1em;
  background-color: rgb(242, 242, 246);
}

.card7 li {
  margin-left: 5%;
  padding: 10%;
  position: relative;
  left: 30px;
}

.card8 {
  color: orange;
  display: flex;
  justify-content: center;
}

.rel {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
}

.rel1 {
  display: flex;
  justify-content: space-between;
}

.row {
  /* margin-right: 20px; */
}

/* .card9 {
  display: flex;
  margin-left: 100px;
  justify-content: space-around;
} */

.card10 {
  display: flex;
  justify-content: space-between;
} 


.cover {
  border: 2px solid fuchsia;
  border-radius: 50%;
  width: 50px;
  object-fit: cover;
  margin-left: 50px;
}

.cov {
  font-size: 1.6rem;
  margin-left: 50px;
}

.dess {
  margin-left: 50px;
}

.ter {
  font-size: 2rem;
  color: chocolate;
  margin-left: 50px;
}

.cover1 {
  display: flex;
  justify-content: space-between;
}

.cover-n {
  margin-left: 100px;
  margin-top: 30px;
}
.cover-f{
  
  color: chocolate;
}

.nuvo {
  font-size: 2.4rem;
}


.vor1 {
  text-align: center;
  font-size: 60px;
  border-radius: 50px;
  color: chocolate;
}

.cover2 {
  display: flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
}

.content {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.content1 {
  padding: 10px 20px;
  background-color: orangered;
  color: aliceblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.content2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cover3 {
  
  margin-top: 70px;
  border-radius: 50px;
 
  margin-left: 100px;
  margin-right: 100px;
  background-color: chocolate;
  height: 500px;
}

.cover4 {
  margin-right: 100px;
  font-size: 20px;
}

.content3 {
  margin-top: 50px;
  justify-content: space-around;
  display: flex;
  padding-right: 500px;
}

.loz {
  margin-top: 40px;
  font-size: 30px;
  padding: 3px 10px;
  padding-left: 80px;
  margin-left: 40px;
  margin-right: 100px;
  border-radius: 20px;
}

.content3-1 {
  margin-top: 50px;
  justify-content: space-around;
  display: flex;
  padding-right: 400px;

}

.cover4-0 {
  margin-left: 50px;
  margin-bottom: 100px;
}

.dra {
  padding-left: 800px;
  padding-bottom: 100px;
 
} 

.vars {
  margin-top: 40px;
  margin-bottom: 50px;
}
 
 .vars-0 {
   margin-top: 30px;
 }
 
 .var-10 {
   margin-bottom: 15px;
   font-size: 20px;
   
 }
 
 .icon1 {
   margin-top: 30px;
   font-size: 30px;
   margin-bottom: 40px;
   padding-left: 10px;
 }
 
.content4 {
  margin-right: 10px;
}

.rel3 {
  padding-right: 20px;
}

footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  margin-left: 200px;
  margin-right: 200px;
}

.marge1 {

  background-color: rgb(212, 163, 146);
  border-radius: 20px;
}

.marge2 {
  border: 1px solid orangered;
  border-radius: 20px;
}

.a {
  width: 350px;
  border-radius: 11px;
  transition: all 0.4;
  height: 400px;
  display: flex;
}

.case {
  color: orange;
  display: flex;
  justify-content: center;

}

.transform {
display: flex;
}

.form1 {
  justify-content: space-between;
  margin-left: 200px;
}
 
.veg1 {
  border-radius: 100px;
  font-size: 1rem;
  color: #333;
  background-color: rgb(61, 173, 61);
}

.rtur {
  display: flex;
  font-size: 11px;
  
}
.rtur1 {
  border-radius: 50px;
  color: rgb(90, 135, 23);
}
.rtur2{
  border-radius: 50px;
  color: #eeae0c;
}

.bout1 {
  border-radius: 25px;
  font-size: 20px;
  font-weight: 500;
  width: 200px;
  margin-top: 100px;
  background-color: #eeae0c;
}
.never {
  text-align: center;
  margin-top: 10px;
}

.never1 {
  font-size: 4.1rem;
}

.never3 {
  font-size: 20px;
  margin-top: 50px;
}

.m {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-bottom: 100px;
}

.s {
  margin-left: 150px;
}

.nu {
  position: relative;
  flex: 50px;
  margin-left: 420px;
}

.mu {
  position: relative;
  right: 0px;
  bottom: 50px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.tu {
  
  width: 300px;
  height: 300px;
  margin-top: 30px;
  gap: 1.6rem;
}


.card .order1 .button1 {
  font-size: 1rem;

}

.card .order1 .button {
  font-size: 1rem;

}




/* }
@media screen {
  h1 
  font-style: 14px;
  font: x-large/50%;
} 
@media screen
  .order7 {
    font-size: 40px;
    margin-top: 0%;
    text-align: center;
} */

@media all and (max-width: 991px) {


  .toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    z-index: 21;
  }
  
  .content {
    flex-direction: column;
  }
  
  .content3 {
    flex-direction: column;
    padding-right: 10px;
  }
  
  .content3-1{
    flex-direction: column;
    padding-right: 0px;
    margin-top: 0px;
  }
  
  .cover3 {
    height: 800px;
  }
  
  .bout1 {
    font-size: 20px;
    width: 100px;
  }
  
  footer {
    flex-direction: column;
  }

  .lg {
    position: relative;
    z-index: 20;
    margin-top: 25px;
  }

  .ouvrir {
    display: block;
  }

  .fermer {
    display: none;
  }

  .open .ouvrir {
    display: none;
  }


  .open .fermer {
    display: block;
  }

  .onglets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 1s;
    z-index: 20;
  }

  .onglets li a {
    font-size: 2rem;
  }

  .BT-1 {
    font-size: 2rem;
  }

  .open .onglets {
    transform: translateX(0);
  }

  .card {
    height: 1300px;
    flex-direction: column;


  }
  
  
  .order5 {
    flex-direction: column;
    width: 100px;
    margin-left: 40px;
    margin-top: 90px;
  }
  
  .order2 img{
    position: absolute;
    width: 200px;
    z-index: auto;
  
  }
  .ind1 {
    bottom: 1px;
  }
  
  
  .order3 {
    font-size: 20px;
  }
  
  .order4 {
    font-size: 25px;
  }
  
  .order10 {
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
  }
  
  .rel1 {
    flex-direction: column;
  }
  
  .rel {
    flex-direction: column;
  }
  
  .form1 {
    margin-left: 50px;
  }
  
  .nu {
    margin-left: 50px;
  }
  
}



@media all and (max-width: 300px) {


  .order2 img{
    margin-top: 50px;
  flex-direction: column
  }
  
  .content {
    flex-direction: column;
  }
  
  
  .content3 {
    flex-direction: column;
    padding-right: 10px;
  }
  
  .content3-1{
    flex-direction: column;
    padding-right: 0px;
    margin-top: 0px;
  }
  
  .cover3 {
    height: 800px;
  }
  
  .heading-feactured-in {
    font-size: 10px;
    padding-right: 30px;
  }
  
  
  .button-n {
   justify-content: center;
   
  }

  header {
    opacity:;
  }

  .toggle {
    display: block;
    font-size: 3rem;
    cursor: pointer;
    position: relative;
    z-index: 21;
  }

  .lg {
    display: none;
    position: relative;
    z-index: 20;
    
  }
  
  
  .content3 {
    flex-direction: column;
    padding-right: 0px;
  }
  
  .content3-1{
    flex-direction: column;
    padding-right: 0px;
    margin-top: 0px;
  }

  .ouvrir {
    display: block;
  }

  .fermer {
    display: none;
  }

  .open .ouvrir {
    display: none;
  }


  .open .fermer {
    display: block;
  }

  .onglets {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-around;
    transform: translateX(-100%);
    transition: transform 1s;
  }

  .onglets li a {
    font-size: 2rem;
  }

  .BT-1 {
    font-size: 2rem;
  }

  .open .onglets {
    transform: translateX(0);
  }

  .card {
    height: 1500px;
    flex-direction: column;
  }
  
  .card {
    margin-top: -100px;
  }
  
  .card .order1 .button1 {
    padding: 1px;
    width: 50px;
  }
  
  
  .card .order1 .button {
    padding: 1px;
    width: 50px;
  }
  
 .order3 {
   margin-top: 100px;
   margin-bottom: 0px;
   margin-left: 2px;
 } 
 .ind1 {
 display: none;
 }
  
}

@media screen and (max-width: 840px) {
  
  .ind1 {
    display: none;
  }
  
}

@media screen and (max-width: 1374px) {
  
  
  .content3 {
    flex-direction: column;
    padding-right: 0px;
  }
  
  .content3-1{
    flex-direction: column;
    padding-right: 0px;
    margin-top: 0px;
  }

  
}

@media screen and (max-width: 350px) { 
    .bout1 {
      display: none;
    }
  
}

@media screen and (max-width: 440px) {
  .bout1 {
    width: 50px;
    margin-top: 50px;
    flex-direction: column;
  }
}